@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
}

/**************LOGIN PAGE STYLING*****************************************/
.login {
  background-image: linear-gradient(
      rgba(0,0,0,0.48),
      rgba(0,0,0,0.48)
    ), url('../public/img/bible-one.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.carousel-inner .texts {
  margin-top: 30%;
}

.carousel-inner {
  text-align: right;
}
 
.login > .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login > .sign-in > .sign-in-btn {
  background-color: #c89d7c;
  color: whitesmoke;
  font-size: 16px;
}

.login > .sign-in > .sign-in-btn > .MuiSvgIcon-root {
  color: #777777;
  padding-left: 4px;
  padding-bottom: 2px;
}

.spinner {
  width: 100%;
  height: 100vh;
  display : flex;
  justify-content : center;
  align-items : center;
}
/***********END OF LOGIN STYLINGS********************************************/

/*********************NAVBAR STYLING******************************************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 5px;
}

.nav-scroll {
  background-color: #c89d7c;
  transition: all ease-in-out 0.8s;
}

.navbar-bottom {
  display: none;
}
  

.navbar .navbar-left .nav-links .navbar-links {
  color: whitesmoke;
  text-decoration: none;
  padding: 0px 35px;
  font-size: 14px;
}

.navbar .navbar-left .nav-links .navbar-links:hover {
  color: #777777;
  transition: ease-in-out 0.3s;
}
/*********************NAVBAR STYLING******************************************/

/*********************FRONTIMAGE STYLING******************************************/
  .front-image {
    background-image: linear-gradient(
      rgba(0,0,0,0.48),
      rgba(0,0,0,0.48)
    ), url('../public/img/bible-two.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
  }

  .front-image .front-image-inner .front-image-inner-header > h2 {
    font-size: 42px;
    font-weight: 800;
  } 
  
  .front-image .front-image-inner .front-image-inner-text > h6 {
    font-size: 14px;
    padding: 8px;
  }
/*********************END OF FRONTIMAGE STYLING******************************************/


/*********************BOTTOMPAGE STYLING******************************************/

.bottom-page {
  padding: 66px;
}

.bottom-page .bottom-page-image{
  height: 250px;
  object-fit: contain;
  border-radius: 5px;
}

.bottom-page .bottom-page-text h2 {
  padding: 8px;
  font-size: 23px;
  color: #c89d7c;
}

.bottom-page .bottom-page-text hr {
  width: 100px;
  margin: 0 auto;
}

.bottom-page .bottom-page-text h5 {
  font-size: 14px;
  padding: 8px;
}

/*********************END OF BOTTOMPAGE STYLING******************************************/

/*********************FOOTER STYLING******************************************/

.newsletter .newsletter-content {
  padding: 26px;
}

.footer {
  background-color: #554616;
  margin-bottom: 14px;
}

.newsletter .newsletter-content h2 {
  color: whitesmoke;
  font-size: 26px;
}

.newsletter .newsletter-content h4 {
  color: whitesmoke;
  font-size: 12px;
}

.newsletter .newsletter-content input {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
}

.newsletter .newsletter-content input:focus {
  outline: none;
}

.newsletter .newsletter-content button {
  background-color: #777777;
  color: whitesmoke;
  padding: 5px;
}
/*********************END OF FOOTER STYLING******************************************/

/*********************SESSIONS STYLING******************************************/

.sessions {
  display: flex;
  height: 100vh;
}

.sessions > .sessions-preview {
  width : 40%;
}

.sessions-sidebar {
  background-color: #c89d7c;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.sessions-sidebar-icons {
  display: flex;
  justify-content: space-evenly;
}

.channels {
  overflow-y: scroll;
  padding: 8px;
  background-color: #dddddd;
  height: 91.5vh;
}

.channels::-webkit-scrollbar {
  display: none;
}

.channels .channels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.channels .channels-header h3 {
  font-size: 22px;
  font-weight: 800;
  color: #c89d7c;
}
.channels .channels-header .MuiSvgIcon-root {
  color: whitesmoke;
  cursor: pointer;
}

.channels .channels-content hr {
  width: 16px;
  height: 3px;
  border-radius: 5px;
}

.channels .channels-name .channels-name-content {
  padding: 6px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.channels .channels-name .channels-name-content .channels-content-name {
  background-color: #d4d4d4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.channels .channels-name .channels-name-content h6 {
  font-weight: 900;
  font-size: 14px;
  padding: 5px;
}

.channels .channels-content h6 {
  font-size: 13px;
  font-weight: 900;
  color: #554616; 
}

.sessions-sidebar::-webkit-scrollbar {
  display: none;
}

.sessions-sidebar h2 {
  color: whitesmoke;
  font-weight: 900;
  font-size: 12px;
}

.sessions-sidebar .MuiSvgIcon-root {
  margin: 5px 0px;
  padding: 1px 2px;
  color: whitesmoke;
  cursor: pointer;
}

.sessions-sidebar .MuiSvgIcon-root:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}

.summary {
  background-image: linear-gradient(
    rgba(0,0,0,0.48),
    rgba(0,0,0,0.48)
    ), url('../public/img/bible-two.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.summary > h1 {
  color: whitesmoke;
}

html .chat {
  display: flex;
  overflow-y: hidden;
  height: 100vh;
}

.chat > .chat-preview {
  width: 40%;
}

.chat > .chat-inner {
  background-color: whitesmoke;
  padding: 10px;
  width: 60%;
  overflow-y: scroll;
}

.chat > .chat-inner > .chat-header {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
  background-color: #777777;
  color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat > .chat-inner > .chat-header > h6 {
  font-weight: 900;
}

.chat > .chat-inner > .chat-header > .MuiSvgIcon-root {
  cursor: pointer;
}

.chat-input > form {
  position: relative;
  display : flex;
  justify-content : center;
}

.chat-input > form > input {
  position : fixed;
  bottom : 30px;
  width: 40%;
  border: 1px solid gray;
  border-radius: 10px;
  padding : 15px;
  outline: none;
  font-size: 14px;
}

.chat-input > form > .form-button {
  position : fixed;
  bottom : 35px;
  left : 90%;
  color: #554616;
}

.chat > .chat-inner > .chatting-ref {
  margin-top: 60px;
}

.message {
  background-color: #e1e1e1;
  display : flex;
  align-items : center;
  padding : 20px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.message-sender {
  height: 40px;
  object-fit: contain;
}

.message-info {
  padding-left: 20px;
  word-break: break-all;
}

.message-info > h5 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
}

.message-info > h5 > span {
  color : gray;
  font-weight : 300;
  margin-left : 4px;
  font-size : 10px;
}

.message > .message-info > p {
  font-size: 14px;
  color: #777777;
}

/*********************END OF SESSIONS STYLING******************************************/

/********************BIBLE STYLING************************************************************/
.bible-nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 5px;
  border-bottom: 0.1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bible-scroll {
  background-color: #c89d7c;
  transition: all ease-in-out 0.8s;
  border-bottom: none;
}

.bible-nav .bible-nav-left .nav-links .navbar-links {
  color: #000;
  text-decoration: none;
  padding: 0px 35px;
  font-size: 14px;
}

.bible-nav .bible-nav-left .nav-links .navbar-links:hover {
  color: #777777;
  transition: ease-in-out 0.3s;
}

.read-bible {
  margin-top: 15px;
  /* max-width: 1024px; */
}

.read-bible .select-book {
  display: flex;
  justify-content: space-around;
}

.read-bible .select-book details {
  display: flex;
  justify-content: space-between;
}

.detail {
  max-width: 680px;
  margin: 20px auto;
}

.detail .text {
  margin-bottom: 200px;
}

.detail .text .bottom h6 {
  font-weight: 700;
}

.detail .text .bottom .btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}





























@media only screen and (min-width: 0px) and (max-width: 480px) {
  .navbar {
    display: none;
  }

  .bible-nav {
    display: none;
  }

  .carousel-inner .texts{
    margin-top: 90%;
  }

  .texts > h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .texts > h5 {
    font-size: 14px;
  }

  .login > .sign-in > .sign-in-btn {
    font-size: 12px;
  }

  .login > .sign-in {
    margin-top: 3%;
  }

  .navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c89d7c;
    padding: 4px;
    display: flex;
    justify-content: space-around;
  }

  .navbar-bottom .MuiSvgIcon-root {
    color: whitesmoke;
  }

  .bottom-page .bottom-page-image {
    display: none;
  }

  .bottom-page .bottom-page-text h2 {
    font-size: 20px;
  }

  .bottom-page .bottom-page-text h5 {
    font-size: 13px;
  }

  .newsletter .newsletter-content button {
    background-color: #554616;
  }

  .newsletter .newsletter-content input {
    padding: 5px 8px;
    font-size: 13px;
  }

  .sessions > .sessions-preview  {
    width: 100%;
  }

  .sessions-sidebar > .avatar {
    width: 24px !important;
    height: 24px !important;
  }

  .summary {
    display: none;
  }

  .chat > .chat-preview {
    display: none;
  }

  .chat > .chat-inner {
    width: 100%;
  }

  .chat-input > form > input {
    bottom: 10px;
    padding: 8px;
    width: 80%;
  }
  .chat-input > form > .form-button {
    bottom: 13px;
    left: 86%;
  }

  .message > .message-sender {
    height: 25px;
    width: 25px;
  }

  .message {
    padding: 10px;
  }

  .message-info > h5 {
    font-size: 12px;
  }

  .message > .message-info > p {
    font-size: 12px;
  }

  .read-bible .select-book input {
    padding: 10px;
    width: 120px;
    font-size: 12px;
  }  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel-inner .texts{
    margin-top: 70%;
  }

  .texts > h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .texts > h5 {
    font-size: 14px;
  }

  .login > .sign-in > .sign-in-btn {
    font-size: 12px;
  }

  .navbar .navbar-left .nav-links .navbar-links {
    padding: 0px 25px;
  }

  .sessions > .sessions-preview  {
    width: 100%;
  }

  .summary {
    display: none;
  }

  .chat > .chat-preview {
    display: none;
  }

  .chat > .chat-inner {
    width: 100%;
  }

  .chat-input > form > input {
    bottom: 10px;
    padding: 8px;
    width: 80%;
  }
  .chat-input > form > .form-button {
    bottom: 13px;
    left: 89%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .carousel-inner .texts{
    margin-top: 50%;
  }

  .texts > h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .texts > h5 {
    font-size: 14px;
  }

  .login > .sign-in > .sign-in-btn {
    font-size: 12px;
  }

  .bottom-page .bottom-page-image {
    width: 400px;
  }

  .newsletter .newsletter-content button {
    background-color: #554616;
  }
}

