@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
}

/**************LOGIN PAGE STYLING*****************************************/
.login {
  background-image: linear-gradient(
      rgba(0,0,0,0.48),
      rgba(0,0,0,0.48)
    ), url('../public/img/bible-one.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.carousel-inner .texts {
  margin-top: 30%;
}

.carousel-inner {
  text-align: right;
}
 
.login > .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login > .sign-in > .sign-in-btn {
  background-color: #c89d7c;
  color: whitesmoke;
  font-size: 16px;
}

.login > .sign-in > .sign-in-btn > .MuiSvgIcon-root {
  color: #777777;
  padding-left: 4px;
  padding-bottom: 2px;
}
/***********END OF LOGIN STYLINGS********************************************/

/*********************NAVBAR STYLING******************************************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 5px;
}

.nav-scroll {
  background-color: #c89d7c;
  transition: all ease-in-out 0.8s;
}

.navbar-bottom {
  display: none;
}
  

.navbar .navbar-left .nav-links .navbar-links {
  color: whitesmoke;
  text-decoration: none;
  padding: 0px 35px;
  font-size: 14px;
}

.navbar .navbar-left .nav-links .navbar-links:hover {
  color: #777777;
  transition: ease-in-out 0.3s;
}
/*********************NAVBAR STYLING******************************************/

/*********************FRONTIMAGE STYLING******************************************/
  .front-image {
    background-image: linear-gradient(
      rgba(0,0,0,0.48),
      rgba(0,0,0,0.48)
    ), url('../public/img/bible-two.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
  }

  .front-image .front-image-inner .front-image-inner-header > h2 {
    font-size: 42px;
    font-weight: 800;
  } 
  
  .front-image .front-image-inner .front-image-inner-text > h6 {
    font-size: 14px;
    padding: 8px;
  }
/*********************END OF FRONTIMAGE STYLING******************************************/


/*********************BOTTOMPAGE STYLING******************************************/

.bottom-page {
  padding: 66px;
}

.bottom-page .bottom-page-image{
  height: 250px;
  object-fit: contain;
  border-radius: 5px;
}

.bottom-page .bottom-page-text h2 {
  padding: 8px;
  font-size: 23px;
  color: #c89d7c;
}

.bottom-page .bottom-page-text hr {
  width: 100px;
  margin: 0 auto;
}

.bottom-page .bottom-page-text h5 {
  font-size: 14px;
  padding: 8px;
}

/*********************END OF BOTTOMPAGE STYLING******************************************/

/*********************FOOTER STYLING******************************************/

.newsletter .newsletter-content {
  padding: 26px;
}

.footer {
  background-color: #554616;
  margin-bottom: 14px;
}

.newsletter .newsletter-content h2 {
  color: whitesmoke;
  font-size: 26px;
}

.newsletter .newsletter-content h4 {
  color: whitesmoke;
  font-size: 12px;
}

.newsletter .newsletter-content input {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
}

.newsletter .newsletter-content input:focus {
  outline: none;
}

.newsletter .newsletter-content button {
  background-color: #777777;
  color: whitesmoke;
  padding: 5px;
}
/*********************END OF FOOTER STYLING******************************************/









@media only screen and (min-width: 0px) and (max-width: 480px) {
  .navbar {
    display: none;
  }

  .carousel-inner .texts{
    margin-top: 90%;
  }

  .texts > h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .texts > h5 {
    font-size: 14px;
  }

  .login > .sign-in > .sign-in-btn {
    font-size: 12px;
  }

  .login > .sign-in {
    margin-top: 3%;
  }

  .navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c89d7c;
    padding: 4px;
    display: flex;
    justify-content: space-around;
  }

  .navbar-bottom .MuiSvgIcon-root {
    color: whitesmoke;
  }

  .bottom-page .bottom-page-image {
    display: none;
  }

  .bottom-page .bottom-page-text h2 {
    font-size: 20px;
  }

  .bottom-page .bottom-page-text h5 {
    font-size: 13px;
  }

  .newsletter .newsletter-content button {
    background-color: #554616;
  }

  .newsletter .newsletter-content input {
    padding: 5px 8px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel-inner .texts{
    margin-top: 70%;
  }

  .texts > h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .texts > h5 {
    font-size: 14px;
  }

  .login > .sign-in > .sign-in-btn {
    font-size: 12px;
  }

  .navbar .navbar-left .nav-links .navbar-links {
    padding: 0px 25px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .carousel-inner .texts{
    margin-top: 50%;
  }

  .texts > h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .texts > h5 {
    font-size: 14px;
  }

  .login > .sign-in > .sign-in-btn {
    font-size: 12px;
  }

  .bottom-page .bottom-page-image {
    width: 400px;
  }

  .newsletter .newsletter-content button {
    background-color: #554616;
  }
}

